
*{
    margin: 0;
    padding: 0;
}

.text{
    width: 800px;
    height: 600px;
    background-color: #000;
}

@media screen and (max-width:768px) {
    .text{
        width: 100vw;
        height: 100vh;
    }
}